<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LCARS - Terminal 0001</title>
        <link href="//extjs.cachefly.net/ext/gpl/4.2.1/resources/ext-theme-neptune/ext-theme-neptune-all-debug.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/themes/2.4/layout.css" media="screen" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="//extjs.cachefly.net/ext/gpl/4.2.1/ext-all-dev.js"></script>
        <script type="text/javascript" src="/modules/boot.js"></script>
    </head>
    <body>
        <!-- {{body}} -->
    </body>
</html>
